/* ----- GLOBAL SETTINGS ----- */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;600;700&display=swap');

*, 
*::before,
*::after{
  padding: 3vh 4vw;
  margin: 0;
  box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-family: "Nunito", sans-serif;
    background-color: var(--lightGreen);
}
html{
    scroll-behavior: smooth;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
}
main{
    width: 100vw;
}
div{
    padding: 0;
}

.spacer{
    height: 10vh;
    width: 100vw;
    transform: translateX(-9vw);
}

/* Color Pallette */

:root{
    --green: #43d893;
    --lightGreen: #d8ffeb;
    --light: #efefef;
    --dark: #191818;
    --grey: #222222;


    --red:  #e65c7b;
    --yellow: #fecd66;
    --blue: #5dadec;
    --pink: #ee9ca7;
    --purple: #b057f9;

    
    --gradient1: linear-gradient(to left, var(--green) 20%, var(--green) 80%);
    --gradient2: linear-gradient(to left, var(--green) 20%, var(--green) 80%);

    --shadow: 5px 5px 20px rgba(70, 80, 80, 0.3);
}

/* LOADER */

#loader {
    background: var(--green) url(images/loader.gif) no-repeat center center;
    display: block;
    background-size: 10%;
    position: fixed;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 100;
}

/* BUTTONS STYLINGS */

.btn, .btn1, .btn2{
    width: 84vw;
    height: 8vh;
    border-radius: 8px;
    margin: 4vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-family: "Nunito", sans-serif;
}
.btn1, .btn2{
    margin-top: 4vh;
}

/* Button */

.btn{
    background-image: var(--gradient1);
    color: var(--light);
}
.btn:hover{
    background-image: var(--gradient2);
}

/* Button 1 */

.btn1{
    border-style: solid;
    border-color: var(--lightGreen);

    color: var(--light);
    background-color: var(--green);
}
.btn1:hover{
    background-color: transparent;
    border-color: var(--green);
    color: var(--green);
}

/* Button 2 */

.btn2{
    border-style: solid;
    border-color: var(--green);

    color: var(--green);
    background-color: transparent;
}
.btn2:hover{
    background-color: var(--green);
    color: var(--light);
}

/* Terms and Conditions */

#signup p {
    font-size: 12px;
    margin-left: -3vw;
}
#signup p a{
    color: var(--green);
    margin-left: -3vw;
    font-style: underline;
}

/* LOGIN | SIGNUP PAGE */

#login body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input{
    height: 9vh;
    width: 84vw;
    outline: none;
    margin: 0.5vh 0;
    padding-left: 15px;
    border-radius: 8px;
    border: 2px solid var(--lightGreen);
    font-size: 18px;
    font-family: "Nunito", sans-serif;
    transition: all 0.3s ease;
    color: var(--dark);
}
input:focus {
    border-color: var(--green);
}

select{
    appearance: none;
    height: 10vh;
    width: 84vw;
    outline: none;
    margin: 0.5vh 0;
    padding-left: 15px;
    border-radius: 8px;
    border: 2px solid var(--lightGreen);
    color: var(--dark);
    font-size: 18px;
    background-color: white;
    font-family: "Nunito", sans-serif;
    transition: all 0.3s ease;
}
select:focus{
    border-color: var(--green);
}

/* Range */

input[type="range"] {
    width: 100%;
    margin: 0 3vw;
    margin-top: -5vh;
}

/* Checkbox */
input[type="checkbox"] {
    width: 20px;
    margin-right: 5px;
}

.checkbox {
    padding-left: 2vw;
    display: flex;
    align-items: center; 
}

/* HEADER */

header .banner{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100vw;
    height: 12.5vh;
    padding: 0 5vw;
    z-index: 1;

    color: var(--light);
    background-color: var(--green);
    transform: translate(-12vw, -9vh);
}
header a{
    text-decoration: none;
    padding: 0;
}
header a i{
    padding: 0;
    color: var(--light);
    font-size: 10vw;
}
header .nav a i:hover{
    font-size: 12vw;
}

/* FOOTER */

footer {
    position: fixed; 
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 10vh;
    padding: auto 4vw;
    background-color: var(--green);
    transform: translateX(-8vw);
    z-index: 1;
}
footer a{
    text-decoration: none;
    padding: 0;
}
footer a i{
    padding: 0;
    color: var(--light);
    font-size: 6vw;
}
footer .nav a i:hover{
    font-size: 8vw;
}


/* HOMEPAGE */

#homepage header {
    height: 15vh;
}

/* Homepage - functions */

#homepage .functions {
    display: flex;
    transform: translate(-9vw, -10vh);
}
#homepage .functions .group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#homepage .functions .group a .function {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;

    height: 23vh;
    width: 43vw;
    margin: -2vh -2vw;
    border-radius: 5px;

    color: var(--light);
    background-color: var(--green);
}

/* Homepage - function colours */

#homepage .functions .group:nth-child(1) a:nth-child(1) .function {
    background-color: var(--green);
}

#homepage .functions .group:nth-child(1) a:nth-child(2) .function {
    background-color: var(--red);
}

#homepage .functions .group:nth-child(1) a:nth-child(3) .function {
    background-color: var(--purple);
}

#homepage .functions .group:nth-child(2) a:nth-child(1) .function {
    background-color: var(--blue);
}

#homepage .functions .group:nth-child(2) a:nth-child(2) .function {
    background-color: var(--yellow);
}

#homepage .functions .group:nth-child(2) a:nth-child(3) .function {
    background-color: var(--pink);
}




/* ADD EMPLOYEE PAGE */

#add-employee form {
    transform: translateX(-4vw);
}



