/* ----- GLOBAL SETTINGS ----- */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;600;700&display=swap');

*, 
*::before,
*::after{
  margin: 0;
  box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-family: "Nunito", sans-serif;
    background-color: var(--lightGreen);
}
html{
    scroll-behavior: smooth;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
}
main{
    width: 100vw;
}
div{
    padding: 0;
}

.spacer{
    height: 10vh;
    width: 100vw;
    transform: translateX(-9vw);
}

/* Color Pallette */

:root{
    --green: #43d893;
    --lightGreen: #d8ffeb;
    --light: #efefef;
    --dark: #191818;
    --grey: #222222;


    --red:  #e65c7b;
    --yellow: #fecd66;
    --blue: #5dadec;
    --pink: #ee9ca7;
    --purple: #b057f9;

    
    --gradient1: linear-gradient(to left, var(--green) 20%, var(--green) 80%);
    --gradient2: linear-gradient(to left, var(--green) 20%, var(--green) 80%);

    --shadow: 5px 5px 20px rgba(70, 80, 80, 0.3);
}


/* LOADER */

#loader {
    background: var(--green) url(images/loader.gif) no-repeat center center;
    display: block;
    background-size: 10%;
    position: fixed;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 100;
}


/* BUTTONS STYLINGS */

.btn, .btn1, .btn2{
    width: 30vw;
    height: 8vh;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-family: "Nunito", sans-serif;
}
.btn1, .btn2{
    margin-top: 2vh;
}

/* Button */

.btn{
    background-image: var(--gradient1);
    color: var(--light);
}
.btn:hover{
    background-image: var(--gradient2);
}

/* Button 1 */

.btn1{
    border-style: solid;
    border-color: var(--lightGreen);

    color: var(--light);
    background-color: var(--green);
}
.btn1:hover{
    background-color: transparent;
    border-color: var(--green);
    color: var(--green);
}

/* Button 2 */

.btn2{
    border-style: solid;
    border-color: var(--green);

    color: var(--green);
    background-color: transparent;
}
.btn2:hover{
    background-color: var(--green);
    color: var(--light);
}


/* LOGIN | SIGNUP PAGE */

#login, #signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#login form, #signup form{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
    width: 30vw;
    height: 70vh;
    margin-top: 12.5vh;
}
#login form{
    position: fixed;
}
#signup form{
    height: 90vh;
    width: 61vw;
    margin-top: 3vh;
}
#signup form .groups {
    display: flex;
}
#signup form #password {
    width: 100%;
}
#signup form .btn1,
#signup form .btn2 {
    width: 100%;
}
#login h1, #login p,
#signup h1, #signup p {
    margin-bottom: 2vh;
}
input{
    height: 9vh;
    width: 30vw;
    outline: none;
    margin: 0.5vh 0;
    padding-left: 15px;
    border-radius: 8px;
    border: 2px solid var(--lightGreen);
    font-size: 18px;
    font-family: "Nunito", sans-serif;
    transition: all 0.3s ease;
    color: var(--dark);
}
input:focus {
    border-color: var(--green);
}

select{
    appearance: none;
    height: 10vh;
    width: 84vw;
    outline: none;
    margin: 0.5vh 0;
    padding-left: 15px;
    border-radius: 8px;
    border: 2px solid var(--lightGreen);
    color: var(--dark);
    font-size: 18px;
    background-color: white;
    font-family: "Nunito", sans-serif;
    transition: all 0.3s ease;
}
select:focus{
    border-color: var(--green);
}

/* Range */

input[type="range"] {
    width: 100%;
    margin: 0 3vw;
    margin-top: -5vh;
}

/* Checkbox */
input[type="checkbox"] {
    width: 20px;
    margin-right: 5px;
}

.checkbox {
    padding-left: 2vw;
    display: flex;
    align-items: center; 
}

/* HEADER */

header .banner{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100vw;
    height: 12.5vh;
    padding: 0 3vw;
    z-index: 1;

    color: var(--light);
    background-color: var(--green);
}
header a{
    text-decoration: none;
    padding: 0;
}
header a i{
    padding: 0;
    color: var(--light);
    font-size: 45px;
}


/* FOOTER */

footer {
    position: fixed; 
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 100vw;
    height: 10vh;
    padding: auto 4vw;

    background-color: var(--green);
    z-index: 1;
}
footer a{
    text-decoration: none;
    padding: 0;
}
footer a i{
    padding: 0;
    color: var(--light);
    font-size: 30px;
}


/* HOMEPAGE */

/* Homepage - functions */

#homepage .functions {
    display: flex;
    position: fixed;
    transform: translate(2vw, 15vh);
}
#homepage .functions .column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#homepage .functions .column a .function {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;

    height: 22vh;
    width: 47vw;
    margin: 1vh 0.5vw;
    padding: 2vh 1vw;
    border-radius: 5px;

    color: var(--light);
    background-color: var(--green);
}

/* Homepage - function colours */

#homepage .functions .column:nth-child(1) a:nth-child(1) .function {
    background-color: var(--green);
}

#homepage .functions .column:nth-child(1) a:nth-child(2) .function {
    background-color: var(--red);
}

#homepage .functions .column:nth-child(1) a:nth-child(3) .function {
    background-color: var(--purple);
}

#homepage .functions .column:nth-child(2) a:nth-child(1) .function {
    background-color: var(--blue);
}

#homepage .functions .column:nth-child(2) a:nth-child(2) .function {
    background-color: var(--yellow);
}

#homepage .functions .column:nth-child(2) a:nth-child(3) .function {
    background-color: var(--pink);
}


/* ADD EMPLOYEE PAGE */

#add-employee form {
    transform: translateX(-4vw);
}


/* ACCOUNT TYPE PAGE */

#account-type section {
    display: flex;
    position: fixed;
}
#account-type section a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 46vw;
    height: 90vh;
    margin: 5vh auto;
    border-radius: 5px;
    color: var(--light);
}
#account-type section a:first-child {
    background-color: var(--red);
    margin-left: 3vw;
}
#account-type section a:last-child {
    background-color: var(--blue);
    margin-left: 2vw;
}


/* ------------------------------------------------------ */
                    /* RESPONSIVE */
/* ------------------------------------------------------ */


@media only screen and (max-width: 900px) {

    *,
    *::before,
    *::after {
        padding: 3vh 4vw;
    }

    /* BUTTONS STYLINGS | RESPONSIVE */

    .btn, .btn1, .btn2{
        width: 84vw;
        height: 8vh;
        border-radius: 8px;
        margin: 2vh 0;
    }



    /* LOGIN | SIGNUP PAGE | RESPONSIVE */

    #login form, #signup form{
       width: 92vw;
       height: 82vh;
       margin-top: 0;

       justify-content: center;
    }
    #login form .btn1 {
        margin-bottom: 4vh;
    }
    #signup form {
        height: 110vh;
        margin-left: 4vw;
    }
    #signup form .groups {
        flex-direction: column;
    }
    input{
        height: 9vh;
        width: 100%;
        margin: 0.5vh 0;
        padding-left: 15px;
    }
    select{
        height: 10vh;
        width: 100%;
        margin: 0.5vh 0;
        padding-left: 15px;
    }

    /* Range */

    input[type="range"] {
        width: 100%;
        margin: 0 3vw;
        margin-top: -5vh;
    }

    /* Checkbox */
    input[type="checkbox"] {
        width: 20px;
        margin-right: 5px;
    }

    .checkbox {
        padding-left: 2vw;
    }

    /* HEADER | RESPONSIVE */

    header .banner{
        width: 100vw;
        height: 12.5vh;
        padding: 0 3vw;
        z-index: 1;
        transform: translate(-12vw, -9vh);
    }
    header a{
        padding: 0;
    }
    header a i{
        padding: 0;
        font-size: 40px;
    }


    /* FOOTER */

    footer {
        width: 100vw;
        height: 10vh;
        padding: auto 4vw;
        transform: translateX(-8vw);
    }
    footer a{
        padding: 0;
    }
    footer a i{
        padding: 0;
        font-size: 20px;
    }


    /* HOMEPAGE | RESPONSIVE */

    /* Homepage | Responsive - functions */

    #homepage .functions {
        transform: translate(-9vw, -1.5vh);
    }
    #homepage .functions .column{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    #homepage .functions .column a .function {
        height: 23vh;
        width: 43vw;
        margin: -2vh -2vw;
        border-radius: 5px;
    }


    /* ADD EMPLOYEE PAGE | RESPONSIVE */

    #add-employee form {
        transform: translateX(-4vw);
    }


    /* ACCOUNT TYPE PAGE | RESPONSIVE */

    #account-type section {
        flex-direction: column;
        transform: translate(-9vw, -7vh);
    }
    #account-type section a {
        width: 90vw;
        height: 45.5vh;
        margin: 1vh 2vw;
    }
    #account-type section a:first-child {
        margin-left: 2vw;
    }
    #account-type section a:last-child {
        margin-left: 2vw;
    }

}